version: '3'
services:
  app:
    container_name: streamlit_app
    restart: always
    image: ghcr.io/capstone2024-student-counselling-ai-web/capstone_design-streamlit${BRANCH_NAME}
    ports:
      - "8501:8501"
    environment:
      - Huggingface_API_TOEKN=${Huggingface_API_TOEKN}
    env_file:
        - .env
    command: streamlit run ./capstone_design/app/app.py

  nginx:
    container_name: proxy_nginx
    restart: always
    image: ghcr.io/capstone2024-student-counselling-ai-web/capstone_design-nginx${BRANCH_NAME}
    ports:
      - "8080:8080"
    depends_on:
      - app
